*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f1117;
    color:#fff;
    height:100vh;
    overflow:hidden;
}

.container{
    width:100%;
    height:100vh;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.player-box{
    position:relative;
    height:78vh;
    overflow:hidden;
    border-radius:15px;
    background:#000;
}

video{
    width:100%;
    height:100%;
    object-fit:cover;
    background:#000;
}

.url-box{
    margin-top:15px;
    display:flex;
    gap:10px;
}

.url-box input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#1b2030;
    color:white;
    outline:none;
    font-size:14px;
}

.url-box button{
    padding:10px 16px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.url-box button:hover{
    opacity:.9;
}

.card-row{
    display:flex;
    gap:12px;
    margin-top:15px;
    overflow-x:auto;
    overflow-y:hidden;
    padding-bottom:5px;
}

.card-row::-webkit-scrollbar{
    height:8px;
}

.card-row::-webkit-scrollbar-thumb{
    background:#2f3547;
    border-radius:20px;
}

.card{
    width:60px;
    min-width:60px;
    height:60px;

    background:#171b26;
    border:1px solid #2a2f3d;
    border-radius:10px;

    position:relative;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.card:hover{
    transform:translateY(-3px);
}

.card-icon{
    font-size:20px;
}
.card-title{
    font-size:10px;
    margin-top:4px;
}

.menu-btn{
    position:absolute;
    top:8px;
    right:8px;
    background:none;
    border:none;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.dropdown{
    display:none;
    position:absolute;
    top:35px;
    right:8px;
    background:#22293a;
    border-radius:10px;
    overflow:hidden;
    z-index:10;
    min-width:100px;
}

.dropdown button{
    width:100%;
    border:none;
    background:none;
    color:white;
    padding:10px;
    cursor:pointer;
    text-align:left;
}

.dropdown button:hover{
    background:#31384d;
}

@media(max-width:600px){

    .header h1{
        font-size:22px;
    }

    .url-box{
        flex-direction:column;
    }

    .url-box button{
        width:100%;
    }

 .card{
    width:80px;
    min-width:80px;
    height:80px;
}

}
.toggle-menu{
    width:120px;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

#menuArea{
    display:none;
}
.overlay-menu{
    position:absolute;
    bottom:15px;
    right:15px;

    display:flex;
    gap:10px;

    z-index:100;
}

.overlay-btn{
    width:40px;
    height:40px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.5);
    color:white;

    cursor:pointer;

    backdrop-filter:blur(10px);
}

.url-box{
    display:none;
}
